<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marquistech.quickautomationlite.test"
    android:versionCode="1"
    android:versionName="1.0">


    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.marquistech.quickautomationlite" />


    <application
        android:debuggable="true"
        android:label="QuickAutomationLite">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
